[core]
	editor = vim
	whitespace = trailing-space,space-before-tab
	excludesfile = /home/bbd/.gitignore
[apply]
	whitespace = warn
[color]
	diff = auto
	status = auto
	branch = auto
	ui = true
	autocorrect = 1
	submodule = 1
[push]
	default = current
[init]
	defaultBranch = master
[commit]
	gpgsign = true
[include]
    path = ~/.gitconfig.key
