[submodule "vim/.vim/pack/colors/start/nord-vim"]
	path = vim/.vim/pack/colors/start/nord-vim
	url = http://github.com/arcticicestudio/nord-vim.git
[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = http://github.com/tmux-plugins/tpm.git
[submodule "vim/.vim/pack/bakerbrandond/start/lightline.vim"]
	path = vim/.vim/pack/bakerbrandond/start/lightline.vim
	url = http://github.com/itchyny/lightline.vim.git
[submodule "vim/.vim/pack/bakerbrandond/start/tmuxline.vim"]
	path = vim/.vim/pack/bakerbrandond/start/tmuxline.vim
	url = http://github.com/edkolev/tmuxline.vim.git
[submodule "vim/.vim/pack/bakerbrandond/start/ale"]
	path = vim/.vim/pack/bakerbrandond/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "vim/.vim/pack/bakerbrandond/start/vim-fugitive"]
	path = vim/.vim/pack/bakerbrandond/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/.vim/pack/bakerbrandond/start/rainbow"]
	path = vim/.vim/pack/bakerbrandond/start/rainbow
	url = https://github.com/luochen1990/rainbow.git
[submodule "vim/.vim/pack/bakerbrandond/start/vim-devicons"]
	path = vim/.vim/pack/bakerbrandond/start/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons.git
[submodule "vim/.vim/pack/bakerbrandond/start/vim-gitgutter"]
	path = vim/.vim/pack/bakerbrandond/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "vim/.vim/pack/bakerbrandond/start/vim-polyglot"]
	path = vim/.vim/pack/bakerbrandond/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "nvm/.nvm"]
	path = nvm/.nvm
	url = https://github.com/nvm-sh/nvm.git
[submodule ".zprezto"]
	path = zprezto/.zprezto
	url = https://github.com/sorin-ionescu/prezto.git
[submodule "vim/.vim/pack/bakerbrandond/start/vim-node"]
	path = vim/.vim/pack/bakerbrandond/start/vim-node
	url = https://github.com/moll/vim-node.git
[submodule "vim/.vim/pack/bakerbrandond/start/typescript-vim"]
	path = vim/.vim/pack/bakerbrandond/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "vim/.vim/pack/bakerbrandond/start/coc.nvim"]
	path = vim/.vim/pack/bakerbrandond/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
